{% load staticfiles %}
<section id="features">
  <div class="container animated fadeIn">
    <div class="row pt-4 pb-4">
      <div class="col col-3 text-center">
        <img src="{% static 'App/img/clock.svg' %}" width="100px" alt="">
        <h3 class="text-uppercase font-weight-bold mt-3 mb-3">Быстро</h3>
        <p class="lead">Мгновенный редирект на сжатый вами URL.</p>
      </div>
      <div class="col col-3 text-center">
        <img src="{% static 'App/img/no-ads.jpg' %}" width="100px" alt="">
        <h3 class="text-uppercase font-weight-bold mt-3 mb-3">Без рекламы</h3>
        <p class="lead"><b style="font-family: coiny;">CutUrl</b> создан для людей, а не для прибыли.</p>
      </div>
      <div class="col col-3 text-center">
        <img src="{% static 'App/img/qr-code.gif' %}" width="100px" alt="">
        <h3 class="text-uppercase font-weight-bold mt-3 mb-3">QR код</h3>
        <p class="lead">Вы можете поделиться ссылкой с помощью QR кода.</p>
      </div>
      <div class="col col-3 text-center">
        <img src="{% static 'App/img/code.svg' %}" width="100px" alt="">
        <h3 class="text-uppercase font-weight-bold mt-3 mb-3">Open Source</h3>
        <p class="lead"><b style="font-family: coiny;">CutUrl</b> - это проект с открытым исходным кодом.</p>
      </div>
    </div>
  </div>
</section>
