<!--Navbar -->
<nav class="navbar nav-sticky navbar-expand-lg white-color z-depth-1">
  <div class="container">
    <a class="navbar-brand" href="#">CutUrl</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-4"
      aria-controls="navbarSupportedContent-4" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
      <ul class="navbar-nav ml-auto">
        <table class="h-100">
          <tr class="align-middle">
            <td>
              <li class="nav-item">
                <a class="nav-link btn btn-outline-primary" href="https://github.com/CoderMan2016/cuturl/tree/master" target="_blank">
                  <span class="fa-lg"><i class="fa-lg fab fa-github"></i> GitHub</span>
                </a>
              </li>
            </td>
            <td>
              <li class="nav-item">
                <a class="nav-link fa-lg" href="#">
                  Расширение <i class="fab fa-chrome fa-lg"></i>
                </a>
              </li>
            </td>
          </tr>
        </table>
      </ul>
    </div>
  </div>
</nav>
<!--/.Navbar -->
